body {
    font-family: Arial, sans-serif;
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
}
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #1c1c1c; /* Set form background color */
    padding: 20px; /* Add padding for better visibility */
    border-radius: 10px; /* Add border radius for rounded corners */
    border: 1px solid #444; /* Add border for better visibility */
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #333; /* Set input background color */
    color: white; /* Set input text color */
    border: 1px solid #555; /* Add border for better visibility */
    border-radius: 5px; /* Add border radius for rounded corners */
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border radius for rounded corners */
}
.error {
    color: #007bff;
}